p {  font-family: Tahoma, Arial, "MS Sans Serif"; font-size: x-small; color: #000000; margin-top: 0px; margin-bottom: 0px}
td {  font-family: Tahoma, Arial, "MS Sans Serif"; font-size: x-small; color: #000000; margin-top: 0px; margin-bottom: 0px}
h1 {  font-family: Tahoma, Arial, "MS Sans Serif"; font-size: 24px; font-weight: bold; color: #000000; margin-top: 0px; margin-bottom: 0px}
h2 {  font-family: Tahoma, Arial, "MS Sans Serif"; font-size: small; font-weight: bold; color: #000000; margin-top: 0px; margin-bottom: 0px}
h3 {  font-family: Tahoma, Arial, "MS Sans Serif"; font-size: x-small; font-weight: bold; color: #000000; margin-top: 0px; margin-bottom: 0px}
a {  font-weight: bold; color: #999900; text-decoration: none}
