center {
	FONT: 10px Verdana,Arial
}
FONT {
	FONT: 10px Verdana,Arial
}
b
{
    FONT: 10px Verdana,Arial
}
P {
	FONT: 10px Verdana,Arial
}
DIV {
	FONT: 10px Verdana,Arial
}
INPUT {
	FONT: 10px Verdana,Arial
}
TEXTAREA {
	FONT: 10px Verdana,Arial
}
FORM {
	FONT: 10px Verdana,Arial
}
BODY {
	SCROLLBAR-FACE-COLOR: #333333; FONT-SIZE: 11px; MARGIN: 1px 30px 30px; SCROLLBAR-HIGHLIGHT-COLOR: #333333; SCROLLBAR-SHADOW-COLOR: #ff9400; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #333333; SCROLLBAR-ARROW-COLOR: #ff9400; SCROLLBAR-TRACK-COLOR: #ff9400; FONT-FAMILY: Verdana, Arial; SCROLLBAR-DARKSHADOW-COLOR: #ff9400
}
A:active {
	FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:link {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:visited {
	FONT-SIZE: 10px; COLOR: #333333; FONT-FAMILY: Verdana; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 10px; COLOR: #000000; FONT-FAMILY: Verdana
; text-decoration: underline
}
.titre {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
.titrebox {
	FONT-SIZE: 11px; COLOR: #000000; FONT-FAMILY: Verdana; TEXT-DECORATION: underline
}
IMG {
	FONT-WEIGHT: 900
}
LI {
	FONT-WEIGHT: light
}
HTML {
	FONT-SIZE: 10px
}
