FONT, TD, BODY, P, DIV, INPUT, TEXTAREA, FORM 
{font-family: Verdana; 
font: normal 11px;
COLOR: #000000}
BODY {
	SCROLLBAR-FACE-COLOR: #FFFFCC; FONT-SIZE: 11px; SCROLLBAR-HIGHLIGHT-COLOR: #ffffff; SCROLLBAR-SHADOW-COLOR: #000000; COLOR: #000000; SCROLLBAR-3DLIGHT-COLOR: #000000; SCROLLBAR-ARROW-COLOR: #b8c8fe; SCROLLBAR-TRACK-COLOR: #FF9933; FONT-FAMILY: Helvetica, Arial; SCROLLBAR-DARKSHADOW-COLOR: #000000
}
FORM {
        { FONT-WEIGHT: bold; font-size: 10; font-family: Verdana;
}
TEXTBOX { 
        FONT-WEIGHT: bold; background-color: #FFFFCC; border: 1px solid; color: #EEEEEE; font-size: 10; font-family: Verdana; font-size: small; text-align: left;
}

TD {
	FONT-SIZE: 11px; COLOR: #20316a; FONT-FAMILY: Helvetica, Arial
}
A {
	FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Helvetica, Arial
}
A:link {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none
}
A:visited {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #ff0000; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none
}
A:hover {
	FONT-WEIGHT: normal; FONT-SIZE: 11px; COLOR: #000000; background: #ffffff; FONT-FAMILY: Helvetica, Arial; TEXT-DECORATION: none
}
button { 
        font-weight:bold; font-size:85%; color: FFEEEE; 
}
.titre  { text-decoration : underline; font-size : 12px; font-family: Verdana; color : #000000; FONT-WEIGHT: bold; }
.info  { text-decoration : none; font-size : 10px; font-family: Verdana; color : #000000; FONT-WEIGHT: bold; }
.texte  { text-decoration : none; font-size : 11px; font-family: Verdana; color : #000000; }
.infobox  { text-decoration : none; font-size : 10px; font-family: Verdana; color : #000000; }