FONT, TD, BODY, P, DIV, INPUT, TEXTAREA, FORM 
{font-family: Verdana,Arial,Helvetica; 
font: normal 11px/12px;
COLOR: #000000;
LINE-HEIGHT: 15px}



body { border: 1px #EEEEE; color: #000000; 
scrollbar-face-color: #C9F5FF; 
scrollbar-shadow-color: #81B0BA; scrollbar-highlight-color: #81B0BA; scrollbar-3dlight-color: #81B0BA; 
scrollbar-darkshadow-color: #81B0BA; scrollbar-track-color: #81B0BA; scrollbar-arrow-color: #000000 }
}
.catdesc {
COLOR: #505050; TEXT-DECORATION: none
; font: normal 11px/12px Verdana
; list-style-type: none
; LINE-HEIGHT: 15px;
}
.infoa {
COLOR: white; TEXT-DECORATION: none
; font: normal 11px/12px Verdana
; list-style-type: none
; LINE-HEIGHT: 15px;
}
A.menu {
FONT-SIZE: 9px
; COLOR: 333333
; LINE-HEIGHT: 12px
; FONT-FAMILY: Verdana
; font-weight: bold
; TEXT-DECORATION: none
}
A.menu:hover {
COLOR: #BCBC7A
; CURSOR: hand
; FONT-SIZE: 9px
; LINE-HEIGHT: 12px
; font-weight: bold
; FONT-FAMILY: Verdana
; TEXT-DECORATION: none
}
A.info {
FONT-SIZE: 10px
; COLOR: white
; LINE-HEIGHT: 12px
; FONT-FAMILY: Verdana
; font-weight: bold
; TEXT-DECORATION: none
}
A.info:hover {
COLOR: #FF0000
; CURSOR: hand
; FONT-SIZE: 9px
; LINE-HEIGHT: 12px
; font-weight: bold
; FONT-FAMILY: Verdana
; TEXT-DECORATION: none
}

A { 
COLOR: #001167
; CURSOR: hand
; font: normal 11px/12px Verdana
; TEXT-DECORATION: underline
}
A:hover {
	COLOR: #006766; TEXT-DECORATION: underline overline
}
