body {
font-family :  Tahoma, Verdana, Arial; 
font-size : 11px; 
font-style : normal; 
font-weight : normal; 
color : #000000; 
text-decoration : none; 
background-color : #d7d9dc;
}
A:link {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
A:visited {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 11px;
FONT-FAMILY:  Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
A:hover {
BACKGROUND: #666699; 
COLOR: #FFFFFF; 
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
}
A:active {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
}
TD {
FONT-FAMILY: Tahoma, Verdana, Arial; 
FONT-SIZE: 11px;
}
TEXTAREA {
FONT-FAMILY:  Tahoma, Verdana, Arial; 
FONT-SIZE: 10px;
background-color : transparent;
font-weight : bold;
}
INPUT {
FONT-FAMILY: Tahoma, Verdana, Arial; 
FONT-SIZE: 10px;
font-weight : bold; 
background-color : transparent;
border-color : #000000;
}
SELECT {
FONT-FAMILY: Tahoma, Verdana, Arial; 
FONT-SIZE: 11px;
font-weight : bold; 
}
.pn-normal {
font-family : Tahoma, Verdana, Arial; 
font-size : 11px; 
font-weight : normal; 
color : #000000; 
}
.pn-normal A:link {
BACKGROUND: none; 
COLOR: #000000; 
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
.pn-normal A:visited {
BACKGROUND: none; 
COLOR: #000000; 
FONT-SIZE: 11px;
FONT-FAMILY:  Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
.pn-normal A:hover {
BACKGROUND: #d7d9dc; 
COLOR: #666699; 
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
}
.pn-normal A:active {
BACKGROUND: none; 
COLOR: #000000;
FONT-SIZE: 11px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
}
.pn-title {
BACKGROUND: none; 
COLOR: #666699; 
FONT-SIZE: 13px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
} 
.boxback { 
background-image : url(/themes/evolution/images/b-bac.gif); 
background-repeat : repeat-y; 
background-position : 50% 0%; 
} 
.boxtitle {
font-family : Tahoma, Verdana, Arial; 
font-size : 13px; 
font-style : normal; 
font-weight : bolder; 
color : #666699; 
text-decoration : none; 
background-image : none; 
background-repeat : no-repeat; 
background-position : 50% 50%; 
text-align : center; 
background-color : #a2b3cb; 
text-transform : none; 
} 
.boxcontent {
font-family : Geneva, Arial, Helvetica, san-serif; 
font-size : 12px; 
font-style : normal; 
font-weight : normal; 
color : #ffffff; 
text-decoration : none; 
background-color : #a2b3cb; 
} 
.pubrighr {
background-image : url(/themes/evolution/images/pub-r.gif); 
background-repeat : repeat-y; 
background-position : 0% 0%;
} 
.headline {
font-family : Tahoma, Verdana, Arial; 
font-size : 12px; 
font-weight : bold; 
color : #666699; 
text-decoration : none;
background-image : url(/themes/evolution/images/h-bac.gif); 
background-repeat : repeat-x; 
background-position : 0% 50%; 
height : 15px; 
width : 100%; 
} 
.tabletop {
background-image : url(/themes/evolution/images/t-t.gif); 
background-repeat : repeat-x; 
background-position : 0% 100%; 
} 
.tablebottom {
background-image : url(/themes/evolution/images/t-b.gif); 
background-repeat : repeat-x; 
background-position : 0% 0%; 
} 
.tableleft { 
background-image : url(/themes/evolution/images//t-l.gif); 
background-repeat : repeat-y; 
background-position : 0% 0%; 
} 
.tableright { 
background-image : url(/themes/evolution/images/t-r.gif); 
background-repeat : repeat-y; 
background-position : 100% 0%; 
} 
.boxrihgtback { 
background-image : url(/themes/evolution/images/b-bac-r.gif); 
background-repeat : repeat-y; 
background-position : 100% 0%; 
} 
.pn-sub {
font-family : Tahoma, Verdana, Arial; 
font-size : 10px; 
font-style : normal; 
font-weight : bold; 
color : #000000;
} 
.pn-sub A:link {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
font-style : normal; 
font-weight : bold; 
TEXT-DECORATION: underline;
}
.pn-sub A:visited {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 10px;
FONT-FAMILY:  Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
font-style : normal; 
font-weight : bold; 
}
.pn-sub A:hover {
BACKGROUND: #FFFFFF; 
COLOR: #FF0000; 
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
font-style : normal; 
font-weight : bold;
}
.pn-sub A:active {
BACKGROUND: none; 
COLOR: #336699; 
FONT-SIZE: 10px;
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
font-style : normal; 
font-weight : bold; 
}
.newsback {
width : 100%;
background-image : url(/themes/evolution/images/n-bac.png); 
background-repeat : repeat-y; 
background-position : 0% 0%; 
} 
.barback {
font-family : Tahoma, Verdana, Arial; 
font-size : 11px; 
font-style : normal; 
font-weight : bold; 
color : #006699; 
text-decoration : none; 
background-image : url(/themes/evolution/images/bar-bac.gif); 
background-repeat : repeat-x; 
background-position : 0% 0%; 
} 
.newstxt {
font-family : Tahoma, Verdana, Arial; 
font-size : 11px; 
font-style : normal; 
font-weight : normal; 
color : #000000; 
text-decoration : none; 
width : 100%;
} 
.myboxtxt {
font-family : Tahoma, Verdana, Arial; 
font-size : 12px; 
font-style : normal; 
font-weight : bold; 
color : #ffffff; 
text-decoration : none; 
}
.myboxtxt A:link {
BACKGROUND: none;
COLOR: #FFFFFF;
FONT-SIZE: 12px;
FONT-FAMILY: Tahoma, Verdana, Arial;
TEXT-DECORATION: underline;
}
.myboxtxt A:visited {
BACKGROUND: none;
COLOR: #FFFFFF;
FONT-SIZE: 12px;
FONT-FAMILY:  Tahoma, Verdana, Arial;
TEXT-DECORATION: underline;
}
.myboxtxt A:hover {
BACKGROUND: #666699;
COLOR: #CCCCCC;
FONT-SIZE: 12px;
FONT-FAMILY: Tahoma, Verdana, Arial;
TEXT-DECORATION: none;
}
.myboxtxt A:active {
BACKGROUND: none;
COLOR: #FFFFFF;
FONT-SIZE: 12px;
FONT-FAMILY: Tahoma, Verdana, Arial;
TEXT-DECORATION: none;
}
.pn-logo { 
COLOR: #666699; 
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
A.pn-logo:link { 
COLOR: #666699; 
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: underline;
}
A.pn-logo:visited { 
COLOR: #666699; 
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, Arial;
TEXT-DECORATION: underline;
}
A.pn-logo:hover	{ 
COLOR: #666699; 
FONT-SIZE: 16px; 
FONT-WEIGHT: bold;
background-color: #8CA6D2; 
FONT-FAMILY: Tahoma, Verdana, Arial; 
TEXT-DECORATION: none;
}
A.pn-logo:active { 
COLOR: #000000;
FONT-SIZE: 16px; 
FONT-WEIGHT: bold; 
FONT-FAMILY: Tahoma, Verdana, Arial;
TEXT-DECORATION: none;
}